@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.space {
  margin-top: 2%;
}

#context-menu a {
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #333;
  text-decoration: none;
  display: block;
  padding: 5px 10px;
  cursor: pointer;
}

#context-menu a:hover {
  background-color: #f0f0f0;
}

.form-group input {
  width: 100%;
  margin-bottom: 10px;
}

.table-responsive {
  margin-bottom: 20px;
}

table {
  border-radius: 10px;
  overflow: hidden;
  margin-top: 20px;
}

.table th,
.table td {
  text-align: center;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}

@media (min-width: 768px) {
  .form-group {
      width: 48%;
      display: inline-block;
      margin-right: 2%;
  }
  .form-group:last-child {
      margin-right: 0;
  }
}

@media (max-width: 768px) {
  #contacts {
      width: 100%;
      table-layout: fixed;
  }
  #contacts th, #contacts td {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
  }
}